<div ui-content-for="title">
  <span>Change Password</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section">

    <div class='section'>
      <div class="pull-left">
        <h4></h4>
      </div>
      <div class="pull-right">
        <a class="btn btn-default" href="/#/mydashboard">
          <i class="fa fa-tachometer fa-lg"></i>
          My Dashboard
        </a>
      </div>
    </div>
    
    <form name="changePasswordForm" ng-submit="changepw.changePassword()" novalidate>
      <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && !changepw.oldPassword}">
        <label>Old Password</label>
        <input class="form-control" type="password" ng-model="changepw.oldPassword" required>
      </div>
      <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && !changepw.newPassword}">
        <label>New Password</label>
        <input class="form-control" type="password" ng-model="changepw.newPassword" required>
      </div>
      <div class="form-group" ng-class="{'has-error': changePasswordForm.$dirty && !changepw.newPasswordAgain || changepw.newPassword !== changepw.newPasswordAgain}">
        <label>New Password Again</label>
        <input class="form-control" type="password" ng-model="changepw.newPasswordAgain" required>
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Change Password" ng-class="{disabled: changePasswordForm.$invalid || changepw.newPassword !== changepw.newPasswordAgain}">
    </form>
  </div>
</div>
