<div ui-content-for="title">
  <span><i class="fa fa-tachometer"></i> My Dashboard</span>
</div>

<div class="scrollable">
  <div class="scrollable-content section">

    <div class="row text-center col-sm-6 col-sm-offset-3">
      <div class="btn-group-vertical btn-block" role="group">
        <a class="btn btn-lg btn-primary" href="#/newsession">
          <i class="fa fa-clock-o"></i>
          Start New Session
        </a>
        <a class="btn btn-lg btn-primary" href="#/previoussessiondata">
          <i class="fa fa-files-o"></i>
          Previous Session Data
        </a>
        <a class="btn btn-lg btn-primary" href="#/managecodesets">
          <i class="fa fa-cogs"></i>
          Manage Code Sets
        </a>
      </div>
    </div>

  </div>
</div>
