<div ui-content-for="title">
  <span>Graph of Sesson Data</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="btn-group pull-right">
            <a class="btn btn-default" href="/#/previoussessiondata">
              <i class="fa fa-chevron-left"></i>
              Back
            </a>
          </div>
          <h3 class="panel-title">{{dataSet.sessionData.name}}</h3>
        </div>
        <div class="panel-body">
          <div>
            <linechart data="data" options="options" mode="" width="" height=""></linechart>
          </div>


          Start Date: {{dataSet.sessionData.startDate}}<br>
          End Date: {{dataSet.sessionData.endDate}}<br>
          Description: {{dataSet.sessionData.description}}<br>
          Code Set: {{dataSet.sessionData.codeSetName}}<br>
          
        </div>
      </div>
    </div>

  </div>
</div>
