<div ui-content-for="title">
  <span>Create Code Set</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">

    <div class="section">
      <div class="btn-group pull-right">
        <a class="btn btn-default" href="/#/managecodesets">
          <i class="fa fa-chevron-left"></i>
          Back
        </a>
      </div>
    </div>

    <div class="section">
      <form role="form" name="createCodeSet" ng-submit='createNewCodeSet()' novalidate>
        <div>
          <label>
            Code Set Name:
          </label>
          <input type="text" ng-model="codeSetData.CodeSetName" class="form-control">
          <label>
            Code Set Description:
          </label>
          <input type="text" ng-model="codeSetData.CodeSetDescription" class="form-control">
        </div>
      <hr>
      <a class="btn btn-primary btn-block" ng-click="addNewCodeSet()">Save Code Set</a>
      </form>
        <br />
    </div>
  </div>
</div>
